@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .navBtn {
    @apply hover:text-primaryText hover:cursor-pointer transition-colors duration-150;
  }
}
* {
  font-family: Inter;
}
.img-conainer {
  filter: grayscale(0);
  clip-path: circle();
}
:root {
  --active: #59c173;
}
.dark {
  --base: #0d0d0d;
  --secondary: #181818;
  --mutedGray: #808080;
  --navBg: #18181d4d;
  --secondaryText: #c5c5c5;
  --primaryText: white;
}

.light {
  --base: #fbfbfb;
  --secondary: #f6f6f6;
  --mutedGray: #17171799;
  --navBg: #ffffff40;
  --secondaryText: #171717b3;
  --primaryText: black;
}
